main {
  padding-top: 150px;
}

.detail model-viewer {
  background-color: var(--bg-dark);
  border: 1.5px solid var(--primary-color);
}

.detail-info h2{
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: var(--text-secondary);
}

.detail-info p {
  font-family: "Playfair", serif;
  font-size: 24px;
  line-height: normal;
}

.detail-desc h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.detail-desc p {
  color: var(--text-secondary);
}